*{
font-family: "Inconsolata", monospace;
}
/*titulo*/
.logotipo {
  width: 8rem;
}
a,ul{
  color: rgb(14, 132, 187);
  text-decoration: none;
    list-style: none;
    display: block;
    font-size: 3rem;
    text-align: center;
    gap: 10rem;
}
/*main*/
.fondoprincipal{
  display: block;
  background-image: url(../Img/fondo/fondo-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: rgb(9, 55, 59);
}
.imagen-1,.imagen-2,.imagen-3,.imagen-4{
  width: 100%;
  height: auto;
  border-radius: 1rem;}
/*footer*/.redes-titulo {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.instgram-logo,
.artstation-logo {
  height: 3rem;
  margin: 0 0.5rem;
}

/*html prints*/

/*titulo*/
.titulo-print{
font-size:  2.5rem;
text-align: center;}
/*main*/
.pagina-principal {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 10px;
}

/*prints-html*/
.print-1,
.print-2,
.print-3,
.print-4 {
  width: 100%;
  border-radius: 1.5rem;}
.buttons{  width: 100%;
  max-width: 20rem;
  justify-self: center;
  padding: 0.8rem;
  font-size: 1.2rem;
  border-radius: 1rem;
  cursor: pointer;
  background-color: rgba(142, 195, 228, 0.735);
  color: rgb(7, 48, 48);
  border-color: rgba(174, 203, 205, 0.114);
  border-radius: 1rem
}
.contenedor-cuadricula {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 10px;
}
/*html sobre mi*/

.fondo1{
  display: block;
  background-image: url(../Img/fondo/fondo-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.footersobremi{
text-align: center;}

/* Proceso dibujado */
/* CAROUSEL */
.carousel-item img {
  height: 70vh;
  object-fit: cover;
}
.carousel-item img {
  object-position: center top;
}
.carousel-caption h5,
.carousel-caption p {
  color: #000000;
  text-shadow: 0 2px 6px rgba(255, 255, 255, 0.73);
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}