@use "../base/variables" as *;

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  .redes-titulo {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 2.5rem;   
    height: 2.5rem;
    object-fit: contain;
  }
}