@use "variables" as *;

@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}
@mixin fondo-cover($img) {
  background-image: url(#{$img});
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}